button{
	font-size: 20px;
    padding: 14px 25px;
}

div{
	background-color: aqua;
			color: white;
			text-align: center;
			padding: 15px;
			margin: 15px;
}
h1{
	font-size: 35px;
}
        